.image {
  width: 300px;
  height: 300px;
  background-image: url("../../../public/wizard.png");
  background-size: cover;
  border-radius: 8px;
}

.image2 {
  width: 350px;
  height: 128px;
  background-image: url("../../../public/adjust-position.png");
  background-size: cover;
  border-radius: 8px;
}
