$main-color: #6c5dd3;
$background-color: #f2f4fe;
$border-radius: 16px;


.container {
  width: 100%;
}

.icon {
  width: 32px;
  height: 32px;
  background-size: cover;
  border: solid 2px white;
  border-radius: 24px;
}

.logo {
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  //background: #ffa2c0;
  background: #9bc4ff;
  border-radius: 8px;

  div:nth-child(2) {
    margin-left: -8px;
  }
}

.row {
  padding: 16px;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;

  & > * + * {
    margin-left: 32px;
  }

  &:hover {
    background: #f8f9ff;
  }
}

.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $main-color;
  border-radius: $border-radius;
  width: 100%;
  height: 200px;
  color: white;
  padding: 0 32px;
  box-shadow: 0 4px 8px rgba(108,93,211, 0.5);

  button {
    padding: 8px 16px;
    display: block;
    width: 124px;
    font-weight: bold;
    margin-top: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  }
}

.closeIcon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.image {
  width: 400px;
  height: 200px;
  background-image: url("../../public/ball.png");
  background-size: cover;
}

.button {
  background: white;
  padding: 4px 8px;
  width: 100px;
  color: black;
  border-radius: 10px;
}
