$main-color: #6c5dd3;
$background-color: #f2f4fe;
$border-radius: 16px;


.container {
  width: 100%;
}

.icon {
  width: 32px;
  height: 32px;
  background-size: cover;
  border: solid 2px white;
  border-radius: 24px;
}

.logo {
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  //background: #9bc4ff;
  background: linear-gradient(131deg, #3769c4, #a78ed8);
  border-radius: 8px;

  div:nth-child(2) {
    margin-left: -8px;
  }
}

.header {
  padding: 16px;
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;

  & > {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.row {
  padding: 16px;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;

  & > div {
    flex: 1;
    justifiy-content: center;
  }

  & > * + * {
    margin-left: 32px;
  }

  &:hover {
    background: #f8f9ff;
  }
}

.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  //background: linear-gradient(145deg, #5e34af, #8355ca);
  background: linear-gradient(145deg, #26155b, #26155b);
  border-radius: $border-radius;
  width: 100%;
  height: 200px;
  color: white;
  padding: 0 32px;
  box-shadow: 0 4px 8px rgba(108,93,211, 0.5);

  button {
    padding: 8px 16px;
    display: block;
    width: 124px;
    font-weight: bold;
    margin-top: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  }
}

.closeIcon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.image {
  position: absolute;
  top: -128px;
  right: 32px;
  width: 300px;
  height: 300px;
  background-image: url("../../public/alchemical_laboratory-transparent.png");
  background-size: cover;
}

.button {
  background: white;
  padding: 4px 8px;
  width: 100px;
  color: black;
  border-radius: 10px;
}

.pool {
  width: 30%;
  height: 200px;
  cursor: pointer;
  transition: transform 200ms;

  &:hover {
    transform: scale(1.04);
  }
}
