//$button-color: #fc991e;
$button-color: #00c298;

.page {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(90deg, #eff9ff, #d9e7ff);
  overflow-y: auto;
  color: white;

  h1 {
    font-size: 50px;
    font-weight: 800;
  }
}

.logoName {
  margin-left: 8px;
  font-size: 20px;
  font-weight: bold;
}

.header {
  position: absolute;
  top: 0;
  height: 80px;
  width: 76%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 12%;
}

.page .launchBtn {
  color: white;
  border-radius: 12px;
  background: $button-color;

  &:hover {
    background: darken($button-color, 10%);
  }
}

.part1 {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(93deg, #0b1925, #020b16);
}

.part2 {
  height: 100vh;
  width: 100vw;
  background: white;
}

.title {
  width: 90%;
  margin-left: 180px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.highlight {
  background: linear-gradient(90deg, #06609b, #01e496);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.image {
  width: 300px;
  height: 300px;
  //background-image: url("../../public/Bull-businessman.png");
  background-image: url("../../public/alchemical_laboratory-house.png");
  background-size: cover;
}
