$main-color: #6c5dd3;
$background-color: #f2f4fe;
$border-radius: 32px;

.page {
  display: flex;
  width: 100vw;
  height: 100vh;

  background: $background-color;

  b {
    font-size: 16px;
  }
  h1 {
    font-size: 56px;
    line-height: 1;
  }
}

.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header {
  margin: 16px 32px;
}

.pageContent {
  flex: 1;
  margin: 16px 32px;
}

.sidepanel {
  width: 200px;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 0 8px;

  .link {
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border-radius: 3px;
    cursor: pointer;

    &.selected {
      background: $main-color;
    }
    &:hover {
      background: $background-color;
    }
  }

  .link + .link {
    margin-top: 8px;
  }
}

.icon {

}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $main-color;
  border-radius: $border-radius;
  width: 100%;
  height: 250px;
  color: white;
  padding: 0 48px;
}

.image {
  width: 400px;
  height: 200px;
  background-image: url("../public/ball.png");
  background-size: cover;
}

.button {
  background: white;
  padding: 4px 8px;
  width: 100px;
  color: black;
  border-radius: 10px;
}
