.backButton {
  height: 36px;
  cursor: pointer;

  p {
    margin-left: 8px;
  }

  &:hover {
    font-size: 16px;
  }
}

.footer {
  align-items: center;
  flex-direction: row-reverse;
}

.image1 {
  width: 500px;
  height: 500px;
  background-image: url("../../public/step_1.webp");
  background-size: cover;
}

.panel {
  padding: 32px !important;
}

.chart {
  path {
    fill: none;
  }
}


